<div class="contenedor">
<h1>Registro</h1>
  <mat-form-field>
    <input matInput type="text" placeholder="Nombre completo">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="date">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="email" placeholder="Ingrese su correo">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="tel" placeholder="Ingrese su numero telefonico">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="text" placeholder="Ingrese su usuario">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="password" placeholder="Ingrese su contraseña">
  </mat-form-field>
  <br>
  <div class="example-button-row">
  <button class="mat-focus-indicator" mat-raised-button>Registrar</button>
  </div>
</div>
