<!--
<mat-card class="example-card"  *ngFor="let pokemon of pokemons; let i = index" >
  <mat-card-header>
    <div mat-card-avatar class="example-header-image" ></div>
    <mat-card-title>{{pokemon.nombre}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image width="80" height="100" src="{{pokemon.img}}" alt="Photo of a pokemons">
  <mat-card-content>
    <p>
    #{{i}}
    <br>
    {{pokemon.tipo}}
    </p>
    <button (click)="capturarPok(pokemon)" >Capturar</button>
  </mat-card-content>
</mat-card> -->
<input [formControl]="search" placeholder="Buscar">

<div class="row" >
  <div class="column" *ngFor="let pokemon of pokemons | search:filter_valor; let i = index">
    <div class="card">
      <h3>{{pokemon.nombre}}</h3>
      <p>{{pokemon.tipo}}</p>
      <div class="imagencard">
      <img mat-card-image width="80" height="100" src="{{pokemon.img}}" alt="Photo of a pokemons">
    </div>
      <br>
      <button  (click)="capturarPok(pokemon)" >Capturar</button>
      <button mat-raised-button (click)="verPokemon(pokemon)" >Ver</button>
    </div>
  </div>
</div>


