<div class="pokemonsTipo">
  <div >
    <button class="pokemonsTipoAgua" (click)="MostrarAgua('agua')">Pokemons tipo Agua: {{cantidadAgua}}</button>
  </div>
  <div >
    <button class="pokemonsTipoFuego" (click)="MostrarAgua('fuego')">Pokemons tipo Fuego: {{cantidadFuego}}</button>
  </div>
  <div >
    <button class="pokemonsTipoTierra" (click)="MostrarAgua('tierra')">Pokemons tipo Tierra: {{cantidadTierra}}</button>
  </div>
  <div >
    <button class="pokemonsTipoPlanta" (click)="MostrarAgua('planta')">Pokemons tipo Planta: {{cantidadPlanta}}</button>
  </div>
  <div >
    <button class="pokemonsTipoElectrico" (click)="MostrarAgua('electrico')">Pokemons tipo Electrico: {{cantidadElectrico}}</button>
  </div>
  <div >
    <button class="pokemonsTipoOtro" (click)="MostrarAgua('otros')">Pokemons de otros tipos: {{cantidadOtros}}</button>
  </div>
</div>







