<div class="pokemonsTipo">
  <div class="pokemonsTipoAgua">
    <p>Pokemons tipo Agua: {{cantidadAgua}}</p>
  </div>
  <div class="pokemonsTipoFuego">
    <p>Pokemons tipo Fuego: {{cantidadFuego}}</p>
  </div>
  <div class="pokemonsTipoTierra">
    <p>Pokemons tipo Tierra: {{cantidadTierra}}</p>
  </div>
  <div class="pokemonsTipoPlanta">
    <p>Pokemons tipo Planta: {{cantidadPlanta}}</p>
  </div>
  <div class="pokemonsTipoElectrico">
    <p>Pokemons tipo Electrico: {{cantidadElectrico}}</p>
  </div>
  <div class="pokemonsTipoOtro">
    <p>Pokemons de otros tipos: {{cantidadOtros}}</p>
  </div>
</div>







