

<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar [src]="[data.imagen]">
    <mat-card-title>{{data.nombre}}</mat-card-title>
    <mat-card-subtitle>{{data.poder}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="[data.imagen]" alt="Photo of {{data.nombre}}">
  <mat-card-content>
    <label>Cambiar poder:</label>
    <br>
  <input #actualizarData type="text" placeholder="Llenar nuevo poder" id="actualizaDato">
  </mat-card-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="closeModal(actualizarData.value)">Cancel</button>
  </mat-dialog-actions>

</mat-card>
