/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

.button {
  display: inline-block;
  padding: 1px 1px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  width: 120px;
  margin-left: auto;
}
