<mat-card class="matCard">
  <mat-card-content>
  <div class="registrarrr container">
  <h1>Registrar Pokemon</h1>
<br>
<mat-label>Nombre:</mat-label><br>
<input matInput placeholder="nombre del pokemon" id="nombrePokemonInput"><br>
<label>Poder:</label><br>
<input placeholder="poder del pokemon" id="poderPokemonInput"><br>
<label>Link de la imagen:</label><br>
<input placeholder="link" id="imagenPokemonInput"><br><br>
<button type="submit" (click)="guardarDatos()">Registrar</button>
</div>
</mat-card-content>
</mat-card>
